* {
  color: #8d5511;
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  text-align: center;
}

body {
  background-color: #fee9be;
}

h2 {
  letter-spacing: .2em;
}

button {
  color: #0a2239;
  font-size: 14pt;
  border-radius: 10px;
}

button:focus {
  outline: 0;
}

input {
  text-align: left;
}

.main-image {
  width: 75%;
}

.page-title {
  font-family: 'Bad Script', cursive;
  letter-spacing: 3px;
  font-size: 32pt;
}

.content {
  width: 50%;
  padding: 20px;
  margin: 70px auto 20px auto;
  border: 2px solid #8d5511;
}

.footer {
  font-size: 10px;
}

.answer-image {
  width: 50%;
  border-radius: 50%;
}

#name-field {
  visibility: visible;
}

#convertLink {
  text-decoration: underline;
  font-size: .6em;
  cursor: pointer;
}

#modLoc {
  visibility: hidden;
  font-size: .8em;
}

#changeBut {
  font-size: .8em;
  width: 70px;
}
